@using XMLData.Models

@model IEnumerable<Photos>
<h4>@ViewBag.Title</h4>

<style>
    body{font-family:Verdana, Geneva, Tahoma, sans-serif; font-size:small;}
    td {padding:5px;}
</style>

 <p>This is home.</p>